@import url(./__content/page__content.css);
@import url(./__profile/page__profile.css);
@import url(./__card-container/page__card-container.css);
@import url(./__footer/page__footer.css);

.page {
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}