.popup__input {
  width: 100%;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 660px) {
  .popup__input {
    font-size: 12px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-bottom: 5px;
  }
}