@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__title/profile__title.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__add-button/profile__add-button.css);
@import url(./__name-container/profile__name-container.css);

.profile {
  width: 100%;
  color: white;
  display: grid;
  align-items: center;
  grid-template-columns: 13.6% 1fr 150px;
}

@media screen and (max-width: 1024px) {
  .profile {
    grid-template-columns: 13.6% 1fr 100px
  }
}

@media screen and (max-width: 660px) {
  .profile {
    grid-template-columns: 100%;
    justify-items: center;
  }
}