.card-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 280px);
  grid-gap: 20px;
  
}

@media screen and (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 280px);
  }
}

@media screen and (max-width: 660px) {
  .card-container {
    justify-content: center;
    margin-top: 35px;
    grid-template-columns: 280px;
  }
}