.profile__add-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  padding: 0;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: #000000;
  background-image: url(../../../images/add_button_vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 660px) {
  .profile__add-button {
    margin-top: 35px;
    width: 280px;
  }
}