
.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.3;
}

@media screen and (max-width: 1024px) {
  .profile__name {
    font-size: 32px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 768px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 660px) {
  .profile__name {
    font-size: 27px;
    line-height: 2.05;
  }
}
