.profile__info {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .profile__info {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 660px) {
  .profile__info {
    align-items: center;
  }
}