
.card__like {
  padding: 0;
  border: none;
  width: 21px;
  background-image: url(../../../images/photo_like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFFF;
  margin-left: 5px;
}
