
.card__like {
  padding: 0;
  border: none;
  width: 19px;
  height: 19px;
  background-image: url(../../../images/photo_like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #FFFFFF;
  transition: opacity 0.2s;
}

.card__like:hover {
  opacity: 0.6;
}