
.card__title {
  margin: 0;
  max-width: 150px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}
