@import url(./__footer/card__footer.css);
@import url(./__like/card__like.css);
@import url(./__photo/card__photo.css);
@import url(./__title/card__title.css);

.card {
  display: flex;
  flex-direction: column;
}
